<h1><center>Association Sportive de Paris<center></h1>
<hr>
<p>L'ASP est un club omnisport parisien ouvert à tous de près de 5 000 membres de 5 à 88 ans. Vous avez la possibilité de vous inscrire à une ou plusieurs activités. L'association pratique des tarifs réduits pour les séniors de plus de 60 ans, les jeunes de moins de 25 ans, les étudiants, les résidents de près du siège social et retraités de la Mairie de Paris.</p>
<hr>
<h2><a href="{% url 'activities'%}">Activités</a></h2>
<hr>
<h2>Contact</h2>
<hr>
